body {
    background-color: darkgreen !important;
    color: white !important;
}


h1 {
    display: flex;
    justify-content: center;
}

.btn-round {
    border-radius: 50% !important;
}


.player-select .input-group {
    justify-content: space-between;
}


#player-count {
    background-color: transparent;
    border: none;
    color: white;
}

.game-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 150px;
    background-color: rgba(0, 0, 0, .5);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 5px;
}



.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px 5px;
    min-height: 100px;
    width: 80px;
    padding: 3px;
    position: relative;
}

.card .lower-corner {
    rotate: 180deg;
    position: absolute;
    bottom: 0;
    right: 5;
}

.card.hearts, .card.diamonds {
    color: red;
}


.card.spades, .card.clubs {
    color: black;
}

